@using System
@using Maps
@using System.Diagnostics
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components

@inherits MapComponent

<div id="@Id" style="@Style"></div>

@functions {
	[Parameter]
	private string Id { get; set; }

	[Parameter]
	private string Style { get; set; }

	[Parameter]
	private MapOptions Options { get; set; }

	[Parameter]
	private Action OnAfterInit { get; set; }

	protected override void OnInit()
	{

	}

	protected override async Task OnAfterRenderAsync()
	{
		await InitAsync(Id, Options);

		//Debug.WriteLine("Init finished");

		if (OnAfterInit != null)
		{
			OnAfterInit();
		}
	}

	protected override bool ShouldRender()
	{
		var renderUI = false;

		return renderUI;
	}
}